html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #e0e0e0;
    overflow: hidden;
}

#status-message {
    font-size: 1.2em;
    margin-bottom: 20px;
}